.app-board {
  display: grid;
  max-width: 800px;
  margin: 0 auto;
  grid-template-columns: repeat(6, 100px);
  grid-auto-rows: 170px;
  gap: 20px;
}

.app-story-block {
  grid-area: 2 / 2 / 3 / 6;
}
